body {
    margin: 0;
    }

header {
    width: 100%;
    background: #fff;
}

#btn-menu {
    display: none;
}


header label {
    display: auto;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 0.2;
}

header label:hover {
    cursor: pointer;
    background: #fff;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0%;
    display: flex;
    justify-content: center;
}

.menu li {
    text-align: center;
    flex-grow: 0
      

}

.menu li:hover {
    background:#dc1b24;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
    font-size: 200%
}
