body {
    margin: 0;
}

header {
    width: 100%;
    background: transparent;
}

#btn-menu {
    display: none;
}
.btn-neon{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.1s;
}

.btn-neon:hover{
  background: #000
  box-shadow: 0 0 10px #000, 0 0 40px #000, 0 0 80px #000;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 0.2;
}

header label:hover {
    cursor: pointer;
    background: #991720;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0%;
    display: flex;
    justify-content: center;
}

.menu li {
    text-align: center;
    flex-grow: 1

}

.menu li:hover {
    background:#991720;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 200%
}
